extends layout

block content
  h1= title
  p Welcome to #{title}, a pseudo representation of blockchain based transactional functionality in javascript

block buttons
 div
  button View Current Chain
  button Mine Some PseudoCoin
  button Mimic a Transaction

block code
  code= JSON.stringify(jsonResult)
  