body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00b7ff;
}

button {
  display: inline-block;
  border: black 1px solid;
  -webkit-appearance: none;
  -moz-appearance: none;
}
